# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php
# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private
# Ignore default text files
/pubrobots.txt
/pub/CHANGELOG.txt
/pub/COPYRIGHT.txt
/pub/INSTALL*.txt
/pub/LICENSE.txt
/pub/MAINTAINERS.txt
/pub/UPGRADE.txt
/pub/README.txt
/pub/sites/all/README.txt
/pub/sites/all/modules/README.txt
/pub/sites/all/themes/README.txt
# Ignore environment specific directory
/etc
